{
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"trailingComma": "all",
	"printWidth": 9999,
	"endOfLine": "lf"
} 