/* Webfont: AuxMono-Regular */@font-face {
    font-family: 'AuxMono';
    src: url('Aux Mono.eot'); /* IE9 Compat Modes */
    src: url('Aux Mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Aux Mono.woff') format('woff'), /* Modern Browsers */
         url('Aux Mono.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Aux Mono.svg#AuxMono-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

